version: "3.8"
services:
  app:
    build: .
    container_name: flask-app_app
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: flask-app_db
    volumes:
      - db_data_flask-app:/var/lib/postgresql/data
  redis:
    image: redis:7
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
volumes:
  db_data_flask-app:
