version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: shamchaudhari/devops-sample:1.0
    container_name: devops-sample-app
    restart: always
    environment:
      - PORT=3000
    networks:
      - webnet

  nginx:
    image: nginx:stable-alpine
    container_name: devops-sample-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
